<p>
    <mat-toolbar color="primary">
      <button button class="example-icon" aria-label="Example icon-button with menu icon">
        <style>
          div {
            width: 25px;
            height: 1px;
            background-color: black;
            margin: 6px 0;
          }
          </style>
        <div></div>
        <div></div>
        <div></div>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button button routerLink="/home"class="example-icon favorite-icon" aria-label="Example icon-button with home icon">
        <mat-icon>Home</mat-icon>
      </button>
      

      <button button routerLink="/add"class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>Add Product</mat-icon>
      </button>
    </mat-toolbar>
  </p>